body {
  margin: 0 auto;
  max-width: 1400px;
  background-color: #444444;
}
main {
  padding: 5px 50px;
  margin: 15px;
}

/* Navigation bar */
.navbar {
  background-color: #000000;
}
/* ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

ul.topnav li {
  float: right;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li a.active {
  background-color: #76baf8;
}

ul.topnav li.left {
  float: left;
} */

/* Main Content */
div.gallery {
  float: left;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: white;
}

div.gallery img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

div.desc {
  padding: 5px;
  margin: 0 auto;
  background-color: white;
  color: #b0a9d8;
}

h2 {
  color: #030303;
}

div#highlight {
  width: 100%;
  padding: 28px;
  background-color: #444444;
  margin: 0 auto;
  flex: 100%;
  max-width: 100%;
  flex-shrink: 3;
  /* margin-bottom: 10px; */
  margin-top: 25px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}

button.see-more {
  height: 30px;
  width: 100px;
  border-radius: 12px;
  background-color: #76baf8;
  color: white;
  text-decoration: none;
  border: none;
  margin: 3px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1200px) {
  .column {
    flex: 43%;
    max-width: 43%;
  }
  div#highlight {
    width: 100%;
    flex: 100%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 480px) {
  .column {
    flex: 85%;
    max-width: 85%;
  }
  #highlight {
    flex-grow: 1;
  }
}

/* Media Query for Mobile Devices */
/* @media (max-width: 480px) {
  div.gallery {
    width: 80%;
  }
} */

/* Media Query for low resolution  Tablets, Ipads */
/* @media (min-width: 481px) and (max-width: 767px) {
  div.gallery {
    width: 80%;
  }
} */

/* Media Query for Tablets Ipads portrait mode */
/* @media (min-width: 768px) and (max-width: 1024px) {
  div.gallery {
    width: 40%;
  }
} */

/* Media Query for Laptops and Desktops */
/* @media (min-width: 1025px) and (max-width: 1280px) {
  div.gallery {
    width: 24%;
  }
} */

/* Media Query for Large screens */
/* @media (min-width: 1281px) {
  div.gallery {
    width: 10%;
  }
} */
