body {
  margin: 0 auto;
  max-width: 1400px;
  background-color: #444444;
  font-family: "Roboto", sans-serif;
}
main {
  padding: 5px 50px;
  margin: 15px;
}

/* Navigation bar */
.navbar {
  background-color: #000000;
}

/* Main Content */
div.gallery {
  float: left;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: white;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  margin: 0 auto;
  background-color: white;
  color: #b0a9d8;
}

h3 {
  color: #030303;
}

div#highlight {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: white;
  padding-top: 25px;
  background-color: #444444;
  flex: 100%;
  max-width: 100%;
  flex-shrink: 3;
  margin-top: 25px;
}

div.text-on-image {
  position: absolute;
  top: 45%;
  right: 20px;
  font-size: 50px;
}

div.desc > p {
  padding-top: 5px;
  padding-bottom: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}

button.see-more {
  height: 30px;
  width: 100px;
  border-radius: 12px;
  background-color: #76baf8;
  color: white;
  text-decoration: none;
  border: none;
  display: block;
  margin: auto;
}

div#left-most {
  margin-left: 0px;
}

div#right-most {
  margin-right: 0px;
}

/* Responsive layout*/
@media screen and (max-width: 1200px) {
  .column {
    flex: 50%;
    max-width: 48%;
  }
  div#highlight {
    width: 100%;
    flex: 100%;
  }
  div#second-right {
    margin-left: 0px;
  }

  div#second-left {
    margin-right: 0px;
  }
}

@media screen and (max-width: 480px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  #highlight {
    flex-grow: 1;
  }
  div.text-on-image {
    font-size: 25px;
  }
}
