body {
  margin: 0 auto;
  max-width: 1400px;
  background-color: #444444;
}
main {
  padding: 5px 50px;
  margin: 15px;
}
/* Navigation bar */

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

ul.topnav li {
  float: right;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li a.active {
  background-color: #76baf8;
}

ul.topnav li.left {
  float: left;
}

/* Movie Cards */
div.gallery {
  /* border: 1px solid #ccc; */
  float: left;
  width: 180px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: white;
}

div.gallery img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

div.desc {
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

div#highlight {
  width: 1090px;
  height: 300px;
  overflow: hidden;
  padding: 15px;
  background-color: #444444;
  margin: 0 auto;
  position: relative;
}

/* section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
} */

/* Responsive */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
/* .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
} */

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    flex: 40%;
    max-width: 40%;
  }
  #highlight {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  #highlight {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

/* Media Query for Mobile Devices */
/* @media (max-width: 480px) {
  div.gallery {
    width: 80%;
  }
} */

/* Media Query for low resolution  Tablets, Ipads */
/* @media (min-width: 481px) and (max-width: 767px) {
  div.gallery {
    width: 80%;
  }
} */

/* Media Query for Tablets Ipads portrait mode */
/* @media (min-width: 768px) and (max-width: 1024px) {
  div.gallery {
    width: 40%;
  }
} */

/* Media Query for Laptops and Desktops */
/* @media (min-width: 1025px) and (max-width: 1280px) {
  div.gallery {
    width: 24%;
  }
} */

/* Media Query for Large screens */
/* @media (min-width: 1281px) {
  div.gallery {
    width: 10%;
  }
} */
